<div class="container">
  <h1>Browse categories</h1>
  <% @categories.each do |category| %>
  <div class="categorisation_section">
    <h3><%= category.name %></h3>
    <% category.poems.each do |poem| %>
      <p>
      <%= link_to poem_path(poem) do %><%= poem.title %><% end %> by <%= poem.poet.name %>
      </p>
    <% end %>
  </div>
<% end %>
