<div class="container">
  <h1>Browse categories</h1>
  <% @categories.each do |category| %>
  <div class="categorisation_section">
    <h3><%= category.name %></h3>
    <% category.poems.each do |poem| %>
    <ul>
      <li><%= poem.title %></li>
      <li><%= poem.body.lines.first %></li>
      <%= link_to "Read Poem", poem_path(poem) %>
    </ul>
    <% end %>
  </div>
<% end %>
